NEXT_PUBLIC_SUPABASE_URL=https://fuccfnewtfwgdcofijmz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_hs1VU8vxajCHH_KOMQx68A_6AC3X3eG
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ1Y2NmbmV3dGZ3Z2Rjb2Zpam16Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNjg1OTMsImV4cCI6MjA4ODY0NDU5M30.x0xRzdoTy1Pr54JxP7hniWn9W7IdDzl8KSdkGk7QjQM
